nav {
    background-color: darkseagreen;
    font-size: large;
    ul {
        list-style: none;
        text-decoration: none;
        li {
            display: flex;
            width: 1000px;
            justify-content: space-around;
            list-style: none;
            text-decoration: none;
            font-size: large;
            padding: 2rem;
            a {
                font-size: 3rem;
                border-bottom: 2px solid;
            }
        }
    }
}


nav {
    background-color: darkseagreen;
    .list {
        list-style: none;
        text-decoration: none;
        &__list {
            display: flex;
            width: 1000px;
            justify-content: space-around;
            font-size: large;
            padding: 2rem;
            &__link {
                font-size: 3rem;
                border-bottom: 2px solid;
            }
        }
    }
}

// variables



a {
    font-size: $font-medium;
    font-family: $font-principal;
}

aside {
    font-size: $font-medium;
    background-color: $bg-principal;
}


@import "./utilities/variables";
@import "./utilities/mixins"; 
